<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>To jest pierwsza strona</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, earum, possimus! Amet consequatur dolorem id, iste minima natus possimus quidem veniam? A, ad aspernatur optio recusandae ut velit voluptatum. Dicta.</p>

<!--  <p>Przejdź do strony <a href="/links/second/">drugiej</a></p>-->
  <p>Przejdź do strony <a href="{% url 'links:second_name' %}">drugiej</a></p>

</body>
</html>