<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>To jest trzecia strona z parametrem {{ param }}</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dicta eius exercitationem fugit, ipsum laboriosam minima minus modi, molestias nihil nisi omnis quae recusandae repudiandae, veniam vero voluptate?</p>

  <p>Przejdź do strony <a href="{% url 'links:first_name' %}">pierwszej</a></p>
</body>
</html>